@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@100&display=swap');


html{
    font-family: 'Raleway', sans-serif;
}


.item{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    word-wrap: normal;
    width: 125px;
    display: inline-block;
  
}

div img{
    width:00px;
    height:350px;

    width:350px;
    height:500px;
    display: flex;
    border-radius: 15px;

}

.item:hover{
    font-weight: bolder;
}

.item img:hover{
    transform: scale(1.05);
    transition: all ease ;
}

a:link{
    text-decoration: none;
}
